[Desktop Entry]
Name=Boost Power
Exec=webapp-container --webappUrlPatterns=https?://payg.boostpower.co.uk/* https://payg.boostpower.co.uk
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
